<div class="container-fluid bg-primary">
  <h2> Form and Function </h2>
  <mat-card>
    <mat-card-content>

      <!-- Form and function  -->
      <mat-form-field appearance="outline">
        <mat-label>Question</mat-label>
        <input matInput placeholder="Placeholder">
        <mat-icon matSuffix>question_answer</mat-icon> 
        <mat-hint>Hint</mat-hint>
      </mat-form-field>  
      
    </mat-card-content>

    <mat-card-actions>

        <button mat-raised-button (click)="post()"> POST </button>

    </mat-card-actions>

  </mat-card>

  <br />
</div>